<%- include('header.ejs') %>
<%- include('modals.ejs') %>
<!-- card -->
 <div class="container">
    <div class="row">
        <div class="col-md-12 m-3">
            <h1>All Blogs</h1>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addBlogModal">Add New Blog</button>
        </div>
        <% for(let i=0; i<allBlogs.length; i++) { %>
        <div class="card col-md-3 ml-3 mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title" id="title<%= allBlogs[i].id %>"><%= allBlogs[i].title %></h5>
                <p class="card-text" id="content<%= allBlogs[i].id %>"><%= allBlogs[i].content %></p>
                <a onclick="getBlogId('<%= allBlogs[i].id %>')" data-toggle="modal" data-target="#editBlogModal" class="card-link btn btn-info">Edit</a>
                <a onclick="getBlogIdToDelete('<%= allBlogs[i].id %>')" data-toggle="modal" data-target="#deleteBlogModal" class="card-link btn btn-danger">Delete</a>              
            </div>
          </div>
          
           <% } %>
    </div>
    </div>
    
    <%- include('footer.ejs') %>
